@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Content/Images/womensBoxing.jpg" class="img-responsive pull-right" alt="boxing"  />
<p>We are just two lost and lonely technology people who have lost our way.  So we decided to use this as a test bed for Test Driven, Development, Generics, and Ayscynronous Calls.</p>
<p>All rights reserved otherwise we will make you humble.</p>
