@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere on the Interweb<br />
    Chicago, Illinois<br />
</address>

<address>
    <strong>Scrum Master:</strong>   <a href="mailto:Ed.Wisniowski1968@gmail.com">Ed Wisniowski</a><br />
    <strong>Technical Genius:</strong> <a href="#">Larry Gasik</a>
</address>