@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Larry and Ed's Parking Front end.</h1>
    <p class="lead">This simple tool allows us to create a MVC front end experiment with Test Driven Development, Generics and Asyncronous Programming.</p>
    <p>All Rights reserved and please use this as a learning tool at your liesure. </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>The Parking Ticket Front End</h2>
        <p>Looking For a quick and simple approach to see how the logic layer works with the front end this is your place.  Tissue a ticket and see if they are towed by the system.</p>
        <br/>
        <p>
            <a class="btn btn-info" href="@Url.Action("Index", "Parking")" roll="button">
                Details&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right">&nbsp;</span>
            </a>
        </p>
    </div>
</div>